import turle
t=turtle.turtle()
t.speed(0)
t.color("yellow",yellow")

t.begin_fill()
for _ in range(36):
      t.circle(50,60)
      t.left(120)
      t.circle(50,60)
      t.left(120)
      t.right(10)
t.end_fill()

turtle.done()
